@import 'common/_mixins.scss';
@import 'common/_normalize.scss';
@import 'common/_base.scss';
@import 'header/_header.scss';
@import 'footer/_footer.scss';
.banner-wrapper {
    height: 50vh;
    min-height: 350px;
    max-height: 50vh;
    background-image: url('../images/banner/lead-gen-banner-new.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    &:after {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
        @extend .position-absolute;
    }
    &--text {
        z-index: 11;
        h1 {
            text-shadow: 2px 2px 10px #000;
        }
        li {
            @extend .display-inline-block;
            @media (max-width: 351px) {
                font-size: (12/$base-font-size)+rem;
            }
            &:nth-child(2) {
                padding: 0 10px;
                margin: 0 10px;
                border-width: 0 1px;
                border-style: solid;
                border-color: $white-color;
            }
            @media (max-width: 351px) {
                &:nth-child(2) {
                    padding: 0 5px;
                    margin: 0 5px;
                }
            }
        }
    }
}
.article-title {
    border-left: 2px solid $theme-color;
    padding-left: 10px;
}
.summary {
    line-height: 20px;
    ul {
        padding-left: 15px;
    }
    li {
        list-style: disc;
        list-style-position: inside;
    }
}
.webinar-details-wrapper {
    background-color: $body-background-color;
    background-image: url('../images/background-pattern/banner-background.jpg');
    @media(min-width: $tablet-devices-min+px) {
        .flex-1 {
            max-width: 50%;
            &:first-child {
                padding-right: 15px;
            }
            &:last-child {
                padding-left: 15px;
            }
        }
    }
}
.overview-details {
    li {
        strong {
            min-width: 75px;
            margin-right: 10px;
            @extend .display-inline-block;
            &:after {
                content: ':';
                float: right;
            }
        }
        line-height: 24px;
    }
}
.register-form-wrapper {
    background-color:  rgba(223, 251, 255, 0.35);
    padding: 20px 30px;
    box-shadow: 2px 2px 10px $theme-secondary-color;
    border: 1px solid rgba(64, 187, 234, 0.8);
    border-radius: 5px;
    .field {
        margin-bottom: 10px;
    }
}
.name-designation {
    figure {
        img {
            max-height: 115px;
            border-radius: 10px;
        }
    }
    figcaption {
        margin-left: 10px;
    }
}