@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size + px;
  color: $theme-text-primary-color;
  scroll-behavior: smooth;
  @media (max-width: $mobile-devices-max-width+px) {
    font-size: $base-font-size-mobile + px;
  }
}

body {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: $normal-font-weight;
  color: $theme-text-primary-color;
}

a {
  text-decoration: none !important;
  color: $theme-text-primary-color;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:focus,
a:hover,
a:active {
  outline: medium none !important;
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}